* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Inter", sans-serif;
}

button {
  font-family: "Inter", sans-serif;
  background-color: white;
}

a {
  font-family: "Inter", sans-serif;
}

main {
  position: relative;
  width: 100vw;
  /* height: 100vh; */

  color: #293264;
  background: #f5f7fb;
}

section.blob-top {
  position: absolute;
  right: 0;
  width: 150px;
  height: 140px;
  background-image: url("./assets/blob-top.png");
  background-repeat: no-repeat;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;

  height: 100vh;
}

section.main-content > h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 31.25px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

section.main-content > p {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

main button.cta,
section.main-content button.cta {
  display: block;
  margin: 1.25em auto;

  background: #4d5b9e;
  color: #f5f7fb;

  width: 193px;
  height: 52px;
  top: 314px;
  left: 179px;
  opacity: 1;
  border-radius: 15px;
  border: none;
}

section.blob-bottom {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 150px;
  height: 110px;
  background-image: url("./assets/blob-bottom.png");
  background-repeat: no-repeat;
}

article.questions {
  display: flex;
  flex-direction: column;

  width: 70vw;

  margin: 0px auto;
  padding: 1em;
}

section.question {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 1em;
  border-bottom: 0.79px solid #dbdef0;
}

section.question div.options {
  display: flex;
  gap: 10px;
}

section.question div.options button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 30px;
  height: auto;

  min-width: 120px;
  width: auto;

  padding: 0.5em 1em;

  font-family: Inter;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  border-radius: 7.71px;
  color: #293264;

  border: 0.79px solid #4d5b9e;
}

.blue {
  background-color: #d6dbf5;
}

.green {
  background: #94d7a2;
}

.pink {
  background: #f8bcbc;
}

article.questions button.cta {
  margin-top: 40px;
}

.result-message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;

  font-family: Inter;
  font-weight: 700;
  font-size: 12.8px;

  margin: 20px auto;
}

.cta-play {
  
  background: #4d5b9e;
  color: white;
  padding: 1em 1.5em;

  border: none;
  border-radius: 10px;
}
